* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
body {
  height: 100vh;
}
#container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 247, 247);
  width: 100%;
  height: 100%;
  padding: 10px;
}
.box {
  width: 49%;
  height: 100%;
  background: white;
  max-width: 500px;
  min-width: 400px;
  box-shadow: 1px 3px 5px -1px rgba(0,0,0,0.66);
  margin-left: 5px;
  margin-right: 5px;
  max-height: 500px;
  border-radius: 5px;
}
.headerBox,.headerBox2 {
  width: 100%;
  padding: 5px;
  background: white;
  box-shadow: 1px 3px 5px -1px rgba(0,0,0,0.66);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0;
}
.headerBox form {
  width: 100%;
}
.headerBox input{
  width: 70%;
  height: 39px;
  padding: 0 10px 0 10px;
  border-radius:2px;
  border: 1px solid rgb(199, 198, 198);
}
.headerBox button{
  width:28.7%;
  height: 39px;
  background-color:#3ea4e7;
	border-radius:2px;
	border:1px solid #3098dd;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
  transition: .5s;
}
.headerBox button:hover{
  background-color:#1b87cf;
}
.headerBox button:active{
  position:relative;
  top:1px;
  border: none;
}
.headerBox button::selection{
  border: none;
}
.description {
  padding: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.description h2{
  color: #1b87cf;
  font-size: 25px;
}
.description p,span{
  color: #3a9ddf;
  font-size: 13px;
  font-weight: bold;
  display: block;
}
.description span{
  margin-top: 10px;
  font-size: 50px;
  font-weight: normal;
  color: #888a8b;
  display: flex;
  align-items: center;
}
.headerBox2 {
  display: flex;
  flex-direction: column;
}
.headerBox2 h2{
  font-size: 17px;
  font-weight: bold;
  color: #1b87cf;
  margin: 10px 0 5px 0;
}
.headerBox2 ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.headerBox2 li {
  font-size: 12px;
  padding: 8px;
  background: rgba(226, 226, 226, 0.486);
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  color: #575757;
}
.description2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 75%;
}
.description2 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.description2 li {
  font-size: 14px;
  padding: 8px;
  margin: 1px;
  color: #575757;
}
.description2 h2{
  font-size: 17px;
  font-weight: bold;
  color: #1b87cf;
  margin: 10px 0 5px 0;
}